<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X - UA - Compatible" contect="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="css/create.css">
            <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
            <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
<body>
    <H2 class="titulo">Todos los productos</H2>
    <div class="banner_img">
        <img src="images/RED.gif" alt="imagenPaddle">
    </div>
    <% for (let i=0 ; i < products.length ; i++) { %>
            <div class= "contenedor-products">
                <p class="nombre-paleta"><%= products[i].nombre_producto %></p>
                <p class="precio-paleta"><%= products[i].precio %></p>
                <p class="foto-products"><%= products[i].imagen %></p>
                <p class="descuento-paleta"><%= products[i].descripcion %></p>
                <p class="categoria-paleta"><%= products[i].categoria %></p>
                <p class="color-paleta"><%= products[i].color %></p>
            </div>
    <% } %>

        <!--COMIENZO DEL FOOTER-->
        <%- include("partials/footer") %>
        <!--FIN DEL FOOTER-->