<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X - UA - Compatible" contect="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../public/css/detail.css">
            <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
            <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet" />
<body>
    <!--INICIO DEL HEADER-->
    <%- include("partials/header") %>
    <!--FIN DEL HEADER-->
            <div class= "contenedor-products">
                <h1 class="nombre-paleta">NOMBRE: <%=producto.titulo %></h1>

                <li>
                    Talle: <%=producto.talles%>
                </li>
                <li>
                    Marca: <%=producto.marcas%>
                </li>
                <li>
                    Color: <%=producto.colores%>
                </li>
                <li>
                    Categoria: <%=producto.categorias.nombre%>
                </li>
                <li>
                    Descripcion: <%=producto.descripcion%>
                <li>
                    Precio: <%=producto.precio%>
                </li>
                <a href="/products/<%=producto.id%>/edit">
                    <button>
                        Editar
                    </button>
                </a>
                <form action="/products/borrar/<%=producto.id%>" method="POST">
                    <button type="submit">
                        Borrar
                    </button>
                </form>
            </div>

        <!--COMIENZO DEL FOOTER-->
        <%- include("partials/footer") %>
        <!--FIN DEL FOOTER-->