<!DOCTYPE html>
    <html>
        <head>
                <meta charset="UTF-8">
                <meta http-equiv="X - UA - Compatible" contect="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="css/users/register.css">
                <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
                <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
                rel="stylesheet" />
                <link rel="stylesheet" href="/css/register.css">
               
                <title>"Register"</title>
        </head>
                <body>
                    <!--COMIENZO DEL REGISTRO-->
                    <!--INICIO DEL HEADER-->
                    <%- include("../partials/header") %>
                     <!--FIN DEL HEADER-->
                     <form action="/users/register" method="POST" enctype="multipart/form-data" class="reg-form">
                            <div class="banner_img">
                                <img src="../images/RED.gif" alt="imagenPaddle">
                            </div>
                            <h1 class="style">estoy probando algo</h1>
                        <div class="registros">
                            <i class="nombreApellido">
                            <label for="full_name" >Nombre y Apellido</label>
                           <input class="full_name" type="text" name="full_name" value="<%= locals.oldData ? oldData.full_name : null %>"/>									
								<% if (locals.errors && errors.full_name) { %>
									<div class="text-danger">
										<%= errors.full_name.msg %> 
									</div>
								<% } %>
                        </div>

                        <div class="registros">
                            <i class="correo">
                            <label for="email">Correo Electronico</label>
                            <input class="email" type="text" name="email" value="<%= locals.oldData ? oldData.email : null %>"/>	
								<% if (locals.errors && errors.email) { %>
									<div class="text-danger">
										<%= errors.email.msg %> 
									</div>
								<% } %>
                        </div>
                        <div class="registros"> 
                            <i class="numTel">
                            <label for="phone_number">Numero de Telefono</label>
                            <input class="phone_number"type="tel" name="phone_number" value="<%= locals.oldData ? oldData.phone_number : null %>"/>
								<% if (locals.errors && errors.phone_number) { %>
									<div class="text-danger">
										<%= errors.phone_number.msg %> 
									</div>
								<% } %>
                        </div>
                        <div class="registros">
                            <i class="password">
                            <label for="password">Contraseña</label>
                            <input class="password" type="password" name="password" value="<%= locals.oldData ? oldData.password : null %>" />
								<% if (locals.errors && errors.password) { %>
									<div class="text-danger">
										<%= errors.password.msg %> 
									</div>
								<% } %>
                            </i>
                        </div>
                        <div class="registros">
                            <i class="avatar">
                            <label for="image">Selecciona una imagen</label>
                            <input type="file" name="image" id="avatar" value="<%= locals.oldData ? oldData.image : null %>" />
                                 <% if (locals.errors && errors.image) { %>
                                    <div class="text-danger">
                                <%= errors.image.msg %> 
                            </div>
                        <% } %>
                    </i>
                          </div>
                    
                       <div class="registros">
                            <p>Hace click aca <i class="fas fa-hand-point-down"></i> y forma parte de nosotros</p>
                        <label for="enviar"></label>
                        <button type="submit" value="enviar" class="boton-enviar">REGISTRAR</button>
                        </div>

                        <ul class="errors"></ul>  
                    </form>

                        <!--FIN DEL REGISTRO-->
    
                     <!--COMIENZO DEL FOOTER-->
                     <%- include("../partials/footer") %>
                     <!--FIN DEL FOOTER-->
                     <script src= "/js/register.js"></script>
                </body>
    </html>